section.about-page 
    .about-page-wrap
        .about-page-intro
            .about-page-intro-wrap 
                h2.about-page__title.text-title Про компанію
                span.about-page__descr.text-medium-uppercase Каdium — будуємо майбутнє
                a(href="#about-list").text-descr.about-page-intro-link
                    .btn-small.about-page-intro-btn
                        +svg('arrow')
                    span Гортай далі
            .about-page-intro-img 
                img(src="./assets/images/aboutPage/bg.jpg", alt="")
        .about-page-list#about-list 
            .about-page-item 
                .about-page-item-intro 
                    h3.about-page-item__title.text-medium-uppercase Жилой комплекс 3V Volkova расположен на одинаковом расстоянии от лесного массива «Добруджа».
                    p.about-page-item__descr.text-descr Из больших окон квартир и балконов будет открываться замечательный вид на море, горы и город. Вся территория комплекса будет украшена красивым зеленым газоном и декоративными деревьями.
                .about-page-item-img-wrap 
                    img(src="./assets/images/aboutPage/1.jpg", alt="" img-paralax).about-page-item-img
            .about-page-item 
                .about-page-item-intro 
                    h3.about-page-item__title.text-medium-uppercase Жилой комплекс 3V Volkova расположен на одинаковом расстоянии от лесного массива «Добруджа».
                    p.about-page-item__descr.text-descr Из больших окон квартир и балконов будет открываться замечательный вид на море, горы и город. Вся территория комплекса будет украшена красивым зеленым газоном и декоративными деревьями.
                .about-page-item-img-wrap 
                    img(src="./assets/images/aboutPage/2.jpg", alt="" img-paralax).about-page-item-img
            .about-page-item 
                .about-page-item-intro 
                    h3.about-page-item__title.text-medium-uppercase Жилой комплекс 3V Volkova расположен на одинаковом расстоянии от лесного массива «Добруджа».
                    p.about-page-item__descr.text-descr Из больших окон квартир и балконов будет открываться замечательный вид на море, горы и город. Вся территория комплекса будет украшена красивым зеленым газоном и декоративными деревьями.
                .about-page-item-img-wrap 
                    img(src="./assets/images/aboutPage/3.jpg", alt="" img-paralax).about-page-item-img

    