section.about
    .about-wrap
        .about-intro
            h2.about-intro-title.text-title Про компанію
            p.about-intro-descr.text-descr Каdium — це будинок, готовий до майбутнього. Місце життя сучасних індивідуалістів - внутрішньо вільних і амбітних жителів міста. Близькість центру міста, пішохідна доступність до найбільшого та найкращого парку, якісна архітектура і просторі функціональні квартири – все це чекає Вас на Волкова,3в.
            a(href='#').btn.about-btn Детальніше
        .about-numbers 
            .noise
            .about-numbers-list 
                .about-numbers-card
                    .about-numbers-card__text
                        span.about-numbers-card__text-title.text-title 540 
                        span.about-numbers-card__text-sub.text-descr тис м²
                    span.about-numbers-card__descr.text-descr в проєктному портфелі
                .about-numbers-card
                    .about-numbers-card__text
                        span.about-numbers-card__text-title.text-title 10 
                        span.about-numbers-card__text-sub.text-descr тис
                    span.about-numbers-card__descr.text-descr щасливих сімей та інвесторів
                .about-numbers-card
                    .about-numbers-card__text
                        span.about-numbers-card__text-title.text-title 100+ 
                    span.about-numbers-card__descr.text-descr професіоналів у команді
                .about-numbers-card
                    .about-numbers-card__text
                        span.about-numbers-card__text-title.text-title 3 
                    span.about-numbers-card__descr.text-descr повністю реалізованих проєктів
                .about-numbers-card
                    .about-numbers-card__text
                        span.about-numbers-card__text-title.text-title 500 
                        span.about-numbers-card__text-sub.text-descr тис м²
                    span.about-numbers-card__descr.text-descr площ, введених в експлуатацію
                .about-numbers-card
                    .about-numbers-card__text
                        span.about-numbers-card__text-title.text-title 450 
                        span.about-numbers-card__text-sub.text-descr тис м²
                    span.about-numbers-card__descr.text-descr житла в процесі будівництва
