section.intro 
    .intro-wrap 
        .intro-nav.frame
            a(href="#section-about").slides__caption-link.text-descr
                .slides__caption-link-btn.btn-small 
                    +svg('arrow')
                span Гортай далі
            nav.slides-nav
                .slides-nav__index
                        span.slides-nav__index-current.text-descr
                            span 1
                        span.slides-nav__index-total.text-descr 5
                button.slides-nav__button.slides-nav__button--prev.slider-btn(aria-label="Previous slide") 
                    +svg('arrow')   
                button.slides-nav__button.slides-nav__button--next.slider-btn(aria-label="Next slide")
                    +svg('arrow')
        .slideshow
            figure.slide.slide--current
                .slide__img-wrap
                    .slide__img(style="background-image: url(assets/images/intro/1.jpg)")
                figcaption.slide__caption
                    h2.slides__caption-headline
                        span.text-row.text-title
                            span.text-title Каdium — будуємо майбутнє
                        span.text-row.text-descr
                            span Для тих, хто обирає життя в центрі подій, легкість пересування, нові технології та подорожі. 
            figure.slide
                .slide__img-wrap
                    .slide__img(style="background-image: url(assets/images/intro/2.jpg)")
                figcaption.slide__caption
                    h2.slides__caption-headline
                        span.text-row.text-title
                            span Каdium — будуємо майбутнє
                        span.text-row.text-descr
                            span Для тих, хто обирає життя в центрі подій, легкість пересування, нові технології та подорожі.
            figure.slide
                .slide__img-wrap
                    .slide__img(style="background-image: url(assets/images/intro/3.jpg)")
                figcaption.slide__caption
                    h2.slides__caption-headline
                        span.text-row.text-title
                            span Каdium — будуємо майбутнє
                        span.text-row.text-descr
                            span Для тих, хто обирає життя в центрі подій, легкість пересування, нові технології та подорожі.
            figure.slide
                .slide__img-wrap
                    .slide__img(style="background-image: url(assets/images/intro/4.jpg)")
                figcaption.slide__caption
                    h2.slides__caption-headline
                        span.text-row.text-title
                            span Каdium — будуємо майбутнє
                        span.text-row.text-descr
                            span Для тих, хто обирає життя в центрі подій, легкість пересування, нові технології та подорожі.
                    