section.news
    .news-wrap
        h2.news-intro__title.news-intro__title-mob.text-title Акції та новини
        .news-intro
            .news-intro-inner 
                h2.news-intro__title.text-title Акції та новини
                .news-intro-swiper-wrap
                    .news-intro-swiper.swiper 
                        .swiper-wrapper.news-intro-swiper-wrapper
                            .swiper-slide.news-intro-slide
                                p.news-intro-slide__title.text-descr-uppercase.text-to-animate-js ВСТИГНІТЬ ЗДІЙСНИТИ БАЖАННЯ ПРО ВЛАСНЕ ЖИТЛО! КУПУЙТЕ КВАРТИРУ З ПЕРШИМ ВНЕСКОМ 30%
                                p.news-intro-slide__descr.text-descr.text-to-animate-js З віком запитів стає набагато більше: вид з вікна, привітні сусіди, безпечні майданчики для дітей, супермаркети на першому поверсі, хімчистки, ресторани, пекарні, кафе в будинку, місце для машини.
                                a(href="#").btn.news-intro-slide__btn Дізнатися більше
                            .swiper-slide.news-intro-slide
                                p.news-intro-slide__title.text-descr-uppercase.text-to-animate-js 5555555555555 ВСТИГНІТЬ ЗДІЙСНИТИ БАЖАННЯ ПРО ВЛАСНЕ ЖИТЛО! КУПУЙТЕ КВАРТИРУ З ПЕРШИМ ВНЕСКОМ 30%
                                p.news-intro-slide__descr.text-descr.text-to-animate-js З віком запитів стає набагато більше: вид з вікна, привітні сусіди, безпечні майданчики для дітей, супермаркети на першому поверсі, хімчистки, ресторани, пекарні, кафе в будинку, місце для машини.
                                a(href="#").btn.news-intro-slide__btn Дізнатися більше
            .news-nav
                .news-nav-swiper
                    .news-swiper-button-prev.slider-btn.slider-btn--prev
                        +svg('arrow')
                    .news-swiper-button-next.slider-btn.slider-btn--next
                        +svg('arrow')
                .news-slides-nav__index
                    span.news-slides-nav__index-current.text-descr
                        span 1
                    span.news-slides-nav__index-total.text-descr 5
        .news-gallery 
            .news-gallery-swiper-wrap
                .news-gallery-swiper.swiper 
                    .swiper-wrapper.news-gallery-swiper-wrapper
                        .swiper-slide.news-gallery-slide
                            .news-gallery-slide-img 
                                img(src="./assets/images/news/1.jpg", alt="" img-paralax)
                        .swiper-slide.news-gallery-slide
                            .news-gallery-slide-img 
                                img(src="./assets/images/news/1.jpg", alt="" img-paralax)
            .news-gallery__pagination
                                
