section.projects 
    .projects-wrap
        h2.projects-title.text-title проєкти  
        .projects-swiper.swiper 
            .swiper-wrapper.projects-swiper-wrapper
                .swiper-slide.projects-slide 
                    img(src="./assets/images/projects/1.jpg", alt="").projects-slide-img(img-paralax)
                    .projects-slide-info
                        .projects-slide-info-address
                            span.projects-slide-info__title.text-descr-uppercase ЖК WHITE TOWER
                            span.projects-slide-info__descr.text-descr Кропивницкий, Подольский р-н
                        a(href="").projects-slide-info-link.text-descr-uppercase переглянути проєкт
                .swiper-slide.projects-slide 
                    img(src="./assets/images/projects/1.jpg", alt="").projects-slide-img(img-paralax)
                    .projects-slide-info
                        .projects-slide-info-address
                            span.text-descr-uppercase ЖК WHITE TOWER
                            span.text-descr Кропивницкий, Подольский р-н
                        a(href="").projects-slide-info-link.text-descr-uppercase переглянути проєкт
                .swiper-slide.projects-slide 
                    img(src="./assets/images/projects/1.jpg", alt="").projects-slide-img(img-paralax)
                    .projects-slide-info
                        .projects-slide-info-address
                            span.text-descr-uppercase ЖК WHITE TOWER
                            span.text-descr Кропивницкий, Подольский р-н
                        a(href="").projects-slide-info-link.text-descr-uppercase переглянути проєкт
                .swiper-slide.projects-slide 
                    img(src="./assets/images/projects/1.jpg", alt="").projects-slide-img(img-paralax)
                    .projects-slide-info
                        .projects-slide-info-address
                            span.text-descr-uppercase ЖК WHITE TOWER
                            span.text-descr Кропивницкий, Подольский р-н
                        a(href="").projects-slide-info-link.text-descr-uppercase переглянути проєкт
                .swiper-slide.projects-slide 
                    img(src="./assets/images/projects/1.jpg", alt="").projects-slide-img(img-paralax)
                    .projects-slide-info
                        .projects-slide-info-address
                            span.text-descr-uppercase ЖК WHITE TOWER
                            span.text-descr Кропивницкий, Подольский р-н
                        a(href="").projects-slide-info-link.text-descr-uppercase переглянути проєкт
        .projects-nav
            .projects-nav-swiper
                .projects-swiper-button-prev.slider-btn.slider-btn--prev
                    +svg('arrow')
                .projects-swiper-button-next.slider-btn.slider-btn--next
                    +svg('arrow')
            a(href="").projects-btn.btn Всі проєкти