.about {
    &-wrap {
        background: $wc;
        display: flex;
        justify-content: space-between;
        width: fit-content;

        @include tablet {
            flex-direction: column;
        }

    }
    &-intro {
        width: 50%;
        padding: 150px 150px 150px 80px;
        padding-left: 80px;
        padding-right: 150px;

        @include tablet {
            width: 100%;
            padding: 100px 137px;
            text-align: center;
        }

        @include mobile {
            padding: 60px 12px;
        }

    }

    &-intro-title {
        margin-bottom: 20px;
        color: $bc;

    }

    &-intro-descr {
        margin-bottom: 40px;
        color: $textGreySpecial;

    }

    &-btn {
        @include tablet {
            margin: 0 auto;
        }
    }

    &-numbers-list {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
        z-index: 3;

        @include tablet {

        }

    }
    &-numbers {
        width: 50%;
        padding: 150px 80px 150px 150px;
        background-image: url('../images/about/noise.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;

        @include tablet {
            width: 100%;
            padding: 100px 137px;
        }

        @include mobile {
            padding: 60px 12px;
        }
    }
    &-numbers-card {
        width: 50%;
        margin-bottom: 60px;

        &:nth-last-child(-n+2) {
            margin-bottom: 0;
        }

    }
    &-numbers-card__text {

    }
    &-numbers-card__text-title {
        color: $mc1;

    }
    &-numbers-card__text-sub {
        color: $mc1;
    }
    &-numbers-card__descr{
        color: $textGreySpecial;
        // display: block;
        // width: 70%;

    }
   
}