.news {
    background: $wc;
    height: fit-content;

    &-wrap {
        padding: 150px 80px;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &-intro {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
    &-intro__title {
        color: $bc;
        margin-bottom: 20px;

    }
    &-intro-swiper-wrap {
        width: 70%;

    }
    &-intro-swiper {

    }
    &-intro-swiper-wrapper {

    }
    &-intro-slide {
        width: 70%;
        opacity: 0;

    }
    &-intro-slide__title {
        opacity: 0;
        color: $bc;
        margin-bottom: 12px;

    }
    &-intro-slide__descr {
        color: $textGreySpecial;
        margin-bottom: 20px;

    }
    &-intro-slide__btn {

    }
    &-nav {
        display: flex;

    }

    &-slides-nav__index {
        white-space: nowrap;
        color: $mc1;
        text-align: center;
        display: flex;
        align-items: center;
        margin-left: 20px;
    }
    
    
    
    &-slides-nav__index-current {
        position: relative;
        overflow: hidden;
        padding-right: 32px;
        margin-right: 12px;
        color: $mc1;
    
        &::after {
            content: "—";
            display: block;
            position: absolute;
            width: 20px;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
    
        }
    }
    
    &-slides-nav__index-current span {
        display: inline-block;
    }
    &-nav-swiper {
        display: flex;
        align-items: center;

    }
    &-gallery {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
    &-gallery-swiper-wrap {

    }
    &-gallery-swiper {
        width: 100%;
        overflow: hidden;

    }
    &-gallery-swiper-wrapper {

    }
    &-gallery-slide {

        .news-gallery-slide-img {
            transform: scale(0.85);
        }
        &.swiper-slide-active {
            > .news-gallery-slide-img {
                transform: scale(1);
            }
        }

    }
    &-gallery-slide-img {

        img {
            height: 527px;
        }

    }

    &-gallery__pagination {
        
        width: 100%;
        height: 2px;
        background-color: rgba(74, 58, 94, 0.15);
        margin-top: 50px;
        position: relative;

        .swiper-pagination-progressbar-fill {
            background: #000000 !important;

        }
        
    }

}