section.projects-page
    .main-page-wrap
        .main-intro 
            h1.main-intro__title.text-title Проєкти
            block breadcrumbs
                include ../breadcrumbs.pug
        .projects-list-wrap
            .projects-list
                .projects-card 
                    .projects-card-intro 
                        h2.projects-card-title ЖК White Tower
                        .projects-card-block 
                            p.projects-card-block__title МІСЦЕЗНАХОДЖЕННЯ:
                            p.projects-card-block__descr.text-descr Кропивницкий, Подольский р-н
                        .projects-card-block 
                            p.projects-card-block__title ЗАГАЛЬНА КІЛЬКІСТЬ КВАРТИР:
                            p.projects-card-block__descr.text-descr 261 шт
                        .projects-card-block 
                            p.projects-card-block__title ПЛОЩА ЖИТЛОВОГО ФОНДУ:
                            p.projects-card-block__descr.text-descr 77 650 м²
                        .projects-card-block 
                            p.projects-card-block__title ЗАГАЛЬНА ПЛОЩА:
                            p.projects-card-block__descr.text-descr 50 505 м²
                        .projects-card-block 
                            p.projects-card-block__title статус
                            p.projects-card-block__descr.text-descr Введено в експлуатацію
                        a(href="single-project.html").projects-card-btn.btn Дізнатися більше
                    .projects-card-img-wrap 
                        img(src="./assets/images/projectsPage/1.jpg", alt="").projects-card-img
                .projects-card 
                    .projects-card-intro 
                        h2.projects-card-title ЖК 3V Volkova
                        .projects-card-block 
                            p.projects-card-block__title МІСЦЕЗНАХОДЖЕННЯ:
                            p.projects-card-block__descr.text-descr Кропивницкий, Подольский р-н
                        .projects-card-block 
                            p.projects-card-block__title ЗАГАЛЬНА КІЛЬКІСТЬ КВАРТИР:
                            p.projects-card-block__descr.text-descr 261 шт
                        .projects-card-block 
                            p.projects-card-block__title ПЛОЩА ЖИТЛОВОГО ФОНДУ:
                            p.projects-card-block__descr.text-descr 77 650 м²
                        .projects-card-block 
                            p.projects-card-block__title ЗАГАЛЬНА ПЛОЩА:
                            p.projects-card-block__descr.text-descr 50 505 м²
                        .projects-card-block 
                            p.projects-card-block__title статус
                            p.projects-card-block__descr.text-descr Введено в експлуатацію
                        a(href="single-project.html").projects-card-btn.btn Дізнатися більше
                    .projects-card-img-wrap 
                        img(src="./assets/images/projectsPage/2.jpg", alt="").projects-card-img
                .projects-card 
                    .projects-card-intro 
                        h2.projects-card-title ЖК White Tower
                        .projects-card-block 
                            p.projects-card-block__title МІСЦЕЗНАХОДЖЕННЯ:
                            p.projects-card-block__descr.text-descr Кропивницкий, Подольский р-н
                        .projects-card-block 
                            p.projects-card-block__title ЗАГАЛЬНА КІЛЬКІСТЬ КВАРТИР:
                            p.projects-card-block__descr.text-descr 261 шт
                        .projects-card-block 
                            p.projects-card-block__title ПЛОЩА ЖИТЛОВОГО ФОНДУ:
                            p.projects-card-block__descr.text-descr 77 650 м²
                        .projects-card-block 
                            p.projects-card-block__title ЗАГАЛЬНА ПЛОЩА:
                            p.projects-card-block__descr.text-descr 50 505 м²
                        .projects-card-block 
                            p.projects-card-block__title статус
                            p.projects-card-block__descr.text-descr Введено в експлуатацію
                        a(href="single-project.html").projects-card-btn.btn Дізнатися більше
                    .projects-card-img-wrap 
                        img(src="./assets/images/projectsPage/1.jpg", alt="").projects-card-img
                .projects-card 
                    .projects-card-intro 
                        h2.projects-card-title ЖК 3V Volkova
                        .projects-card-block 
                            p.projects-card-block__title МІСЦЕЗНАХОДЖЕННЯ:
                            p.projects-card-block__descr.text-descr Кропивницкий, Подольский р-н
                        .projects-card-block 
                            p.projects-card-block__title ЗАГАЛЬНА КІЛЬКІСТЬ КВАРТИР:
                            p.projects-card-block__descr.text-descr 261 шт
                        .projects-card-block 
                            p.projects-card-block__title ПЛОЩА ЖИТЛОВОГО ФОНДУ:
                            p.projects-card-block__descr.text-descr 77 650 м²
                        .projects-card-block 
                            p.projects-card-block__title ЗАГАЛЬНА ПЛОЩА:
                            p.projects-card-block__descr.text-descr 50 505 м²
                        .projects-card-block 
                            p.projects-card-block__title статус
                            p.projects-card-block__descr.text-descr Введено в експлуатацію
                        a(href="single-project.html").projects-card-btn.btn Дізнатися більше
                    .projects-card-img-wrap 
                        img(src="./assets/images/projectsPage/2.jpg", alt="").projects-card-img
            button.projects-page-btn.btn більше проєктів

