section.news-page
    .main-page-wrap
        .main-intro 
            h1.main-intro__title.text-title Акції та новини 
            block breadcrumbs
                include ../breadcrumbs.pug
        .news-list-wrap 
            .news-list 
                .news-item 
                    .news-item-intro 
                        h3.news-item__title.text-descr-uppercase ВСТИГНІТЬ ЗДІЙСНИТИ БАЖАННЯ ПРО ВЛАСНЕ ЖИТЛО! КУПУЙТЕ КВАРТИРУ З ПЕРШИМ ВНЕСКОМ 30%
                        p.news-item__descr.text-descr З віком запитів стає набагато більше: вид з вікна, привітні сусіди, безпечні майданчики для дітей, супермаркети на першому поверсі, хімчистки, ресторани, пекарні, кафе в будинку, місце для машини.
                        a(href="single-news.html").news-item__btn.btn Дізнатися більше
                    .news-item-img-wrap 
                        img(src="./assets/images/newsPage/1.jpg", alt="").news-item-img
                .news-item 
                    .news-item-intro 
                        h3.news-item__title.text-descr-uppercase ВСТИГНІТЬ ЗДІЙСНИТИ БАЖАННЯ ПРО ВЛАСНЕ ЖИТЛО! КУПУЙТЕ КВАРТИРУ З ПЕРШИМ ВНЕСКОМ 30%
                        p.news-item__descr.text-descr З віком запитів стає набагато більше: вид з вікна, привітні сусіди, безпечні майданчики для дітей, супермаркети на першому поверсі, хімчистки, ресторани, пекарні, кафе в будинку, місце для машини.
                        a(href="single-news.html").news-item__btn.btn Дізнатися більше
                    .news-item-img-wrap 
                        img(src="./assets/images/newsPage/2.jpg", alt="").news-item-img
                .news-item 
                    .news-item-intro 
                        h3.news-item__title.text-descr-uppercase ВСТИГНІТЬ ЗДІЙСНИТИ БАЖАННЯ ПРО ВЛАСНЕ ЖИТЛО! КУПУЙТЕ КВАРТИРУ З ПЕРШИМ ВНЕСКОМ 30%
                        p.news-item__descr.text-descr З віком запитів стає набагато більше: вид з вікна, привітні сусіди, безпечні майданчики для дітей, супермаркети на першому поверсі, хімчистки, ресторани, пекарні, кафе в будинку, місце для машини.
                        a(href="single-news.html").news-item__btn.btn Дізнатися більше
                    .news-item-img-wrap 
                        img(src="./assets/images/newsPage/1.jpg", alt="").news-item-img
                .news-item 
                    .news-item-intro 
                        h3.news-item__title.text-descr-uppercase ВСТИГНІТЬ ЗДІЙСНИТИ БАЖАННЯ ПРО ВЛАСНЕ ЖИТЛО! КУПУЙТЕ КВАРТИРУ З ПЕРШИМ ВНЕСКОМ 30%
                        p.news-item__descr.text-descr З віком запитів стає набагато більше: вид з вікна, привітні сусіди, безпечні майданчики для дітей, супермаркети на першому поверсі, хімчистки, ресторани, пекарні, кафе в будинку, місце для машини.
                        a(href="single-news.html").news-item__btn.btn Дізнатися більше
                    .news-item-img-wrap 
                        img(src="./assets/images/newsPage/1.jpg", alt="").news-item-img
        button.news-btn-more.btn Більше новин 