footer.footer
  img(src="assets/images/white-leaf.png", alt="").footer-leaf
  .footer-top
    .footer-top__inner.container 
      .footer-top-left 
        .footer-request 
          a(href="tel:+380962732318").footer-number + 38 096 273 23 18
          .standard-btn.footer-btn
            a(href="#" data-btn-submit-text).btn-link замовити дзвінок
              .btn-svg
                .btn-arrow
                  +svg ('animated-arrow')
                .btn-circle
                  +svg ('animated-circle')
      .footer-top-right
        .footer-location 
          p.footer-address м. Київ, Київська обл, <br> пгт. Романків, 21
          .standard-btn.footer-btn
            a(href="#" data-btn-submit-text).btn-link google maps
              .btn-svg
                .btn-arrow
                  +svg ('animated-arrow')
                .btn-circle
                  +svg ('animated-circle')
  .footer-bottom
    .footer-bottom__inner.container
      .footer-bottom-block
        .footer-social
          a(href='fb').footer-social-link.social-fb
            +svg('facebook')
          a(href='instagram').footer-social-link.social-instagram
            +svg('instagram')
        .footer-links 
          a(href="#") Обрати квартиру
          a(href="/#location") Розташування
          a(href="/#development-video") Хід будівництва
          a(href="/#details-main") Переваги
          a(href="/#news-home") Новини та акції
        .footer-up 
          a(href="#") вгору
            +svg ('arrow-up')
      .footer-bottom-additional
        p.footer-copy © Romankiv Village 2021.
        .footer-dev
          a(href="https://smarto.agency/" rel="nofollow" target="_blank").footer-dev__link
            +svg ('logo_smart_orange')
