.form-modal.overlay
    .form-popup
        .form-popup-field 
            h4.questions-form-title Виникли запитання? <br> Заповнюй поля нижче і ми передзвонимо у наближчий час
            form(data-modal-contact autocomplete="off").questions-form
                .form-field.form-field-input(data-field-input data-field-name data-status="field--inactive")
                    input(type='text' name="name" placeholder="Ім’я").form-field__input
                    .input-message(data-input-message) Це поле є обов`язковим
                .form-field.disabled.form-field-input(data-field-input data-field-phone data-status="field--inactive")
                    input(type='text' name="phone" placeholder="Телефон").form-field__input
                    .input-message(data-input-message) Це поле є обов`язковим
                label.checkbox.checkbox-circular
                    input(type="checkbox" name="confirmation" id="checkbox-q")
                    span.checkbox-icon 
                    span згода на обробку персональних даних 
                    .input-message(data-input-message) Це поле є обов`язковим     
                button( type="submit" data-btn-submit).standard-btn.questions-btn
                    span(data-btn-submit-text).btn-link Надіслати
                    .btn-svg
                        .btn-arrow
                            +svg ('animated-arrow')
                        .btn-circle
                            +svg ('animated-circle')
        .close-form-popup