.questions-modal.overlay
    .popup.questions-popup
        .questions-popup__top
          h1.questions-popup__title Заявка прийнята. Дякуємо за звернення!
          p.questions-popup__descr Очікуйте на дзвінок з відділу продажів Romankiv Village. Бажаємо гарного дня =)
        .questions-popup__bottom 
          h1.questions-popup__title Підписуйтесь на наші соціальні мережі
          p.questions-popup__descr Будьте в курсі всіх новин та актуальних пропозицій
          .questions-social
            a(href='fb').questions-social-link.social-fb
              +svg('facebook')
            a(href='instagram').questions-social-link.social-instagram
              +svg('instagram')
        .close-popup
        