section.contacts-page
    .contacts-page-wrap
        .main-intro 
            h1.main-intro__title.text-title контакти
            block breadcrumbs
                include ../breadcrumbs.pug
        section.contact 
            .contact-wrap 
                .contact-intro 
                    h2.contact-intro__title.text-title Зворотній зв’язок
                .contact-main 
                    .contact-socials 
                        .contact-socials-list 
                            .contact-socials-card 
                                span.contact-socials-card__title.text-descr Адреса:
                                span.contact-socials-card__descr.text-descr-uppercase М. КИЇВ, ВУЛ. ШЕВЧЕНКО 1
                                a(href="https://goo.gl/maps/dRRx5pDR79SCUUPZ7" target="_blank").contact-socials-card__link Відкрити на мапі
                            .contact-socials-card 
                                span.contact-socials-card__title.text-descr E-mail:
                                a(href="mailto:INFO@KADIUM-DEVELOPMENT.COM.UA").contact-socials-card__link--simple.text-descr-uppercase INFO@KADIUM-DEVELOPMENT.COM.UA
                            .contact-socials-card 
                                span.contact-socials-card__title.text-descr Телефони:
                                a(href="tel:(099) 284 7777").contact-socials-card__link--simple.text-descr-uppercase (099) 284 7777
                                a(href="tel:(099) 284 7777").contact-socials-card__link--simple.text-descr-uppercase (099) 284 7777
                            .contact-socials-card 
                                span.contact-socials-card__title.text-descr Social:
                                a(href="#").contact-socials-card__link--simple.text-descr-uppercase FACEBOOK
                                a(href="#").contact-socials-card__link--simple.text-descr-uppercase INSTAGRAM