
extends ../layout/main

block variable
  -
    var title_page = 'Loyalty'
    var id_page = 'id-all-loyalty'
    var class_page = 'page-all-loyalty'
    var breadcrumbsSubitem = [
        {
            label: 'Карта лояльності',
            link: pagesLink[0].loyaltyPage
        }
    ]

block meta
  title= 'Карта лояльності'
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts

  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/loyalty.bundle.js')

block header
    include ../includes/header.pug
    include ../includes/menu.pug
block content
    include ../includes/loyalty/main.pug

block modal
    include ../includes/thank-you-popup.pug
    include ../includes/contact-popup.pug

block footer
    include ../includes/footer.pug


