
extends ../layout/main

block variable
  -
    var title_page = 'News'
    var id_page = 'id-all-news'
    var class_page = 'page-all-news'
    var breadcrumbsSubitem = [
      {
        label: 'allNews',
        link: pagesLink[0].allNews
      }
    ]

block meta
  title= 'Новини'
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts

  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/news.bundle.js')
  //- script.map-script(defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBc_rcO6jcFuCN8AJ9EZLlXENtUDSAcuiw&ver=1655409542')
  
  

block header
  include ../includes/header.pug
  include ../includes/menu.pug
block content
  include ../includes/news/main.pug
  
block modal
  include ../includes/thank-you-popup.pug
  include ../includes/contact-popup.pug
  
block footer
  include ../includes/footer.pug


