
extends ../layout/main

block variable
  -
    var title_page = 'singleProject'
    var id_page = 'id-single-project'
    var class_page = 'page-single-project'
    var breadcrumbsSubitem = [
      {
        label: 'SingleProject',
        link: pagesLink[0].about
      }
    ]

block meta
  title= 'Новини'
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts

  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/sketch.js')
  script(defer src='./assets/scripts/three.js')
  script(defer src='./assets/scripts/EffectShell.js')
  script(defer src='./assets/scripts/StretchEffects.js')
  script(defer src='./assets/scripts/slider.js')
  script(defer src='./assets/scripts/singleProject.bundle.js')
  
  
  
  

block header
  include ../includes/header.pug
  include ../includes/menu.pug
block content
    include ../includes/single-project/slider.pug
    include ../includes/single-project/main.pug
  
  
block modal
  include ../includes/thank-you-popup.pug
  include ../includes/contact-popup.pug

block footer
  include ../includes/footer.pug


