.container {
  padding: 0 110px;
  margin: 0 auto;

  @include tabletLarge {
    padding: 0 50px;
  }

  @include tablet {
    padding: 0 50px;
  }

  @include mobile {
    padding: 0 20px;
  }
}

button {
  border: none;
  background-color: inherit;
}

.btn {
  text-decoration: none;
  outline: none; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 60px;
  background: #2A2C65;
  font-family: $default-font;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #E8E9E9;
  @include tabletLarge {
    width: 184px;
    height: 50px;
    font-size: 14px;

  }

}

.btn-small {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background: none;
	border: 0;
	width: 60px;
	height: 60px;
	padding: 0;
	background: $mc1;
	-webkit-appearance: none;
	-moz-appearance: none;
	svg {
		width: 20px;
		height: 20px;
		fill: $textLightGrey;
		transform: rotate(270deg);
	}
}

.slider-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 60px;
  height: 60px;
  padding: 0;
  background: #2A2C65;
  -webkit-appearance: none;

  svg {
    width: 20px;
    height: 20px;
    fill: #E8E9E9;
  }

}

.slider-btn--next {
  svg {
    transform: rotate(180deg);
  }
}

.slider-btn--prev {
  margin-right: 8px;
}

.swiper-button-prev:after {
  display: none;
}


/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
.btn
:focus {
	/* Provide a fallback style for browsers
	 that don't support :focus-visible */
	outline: none;
	background: lightgrey;
}

a:focus:not(:focus-visible) {
	/* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
	background: transparent;
}

a:focus-visible {
	/* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
	outline: 2px solid $mc1;
	background: transparent;
}

.text {
  &-title {
    font-family: $default-font;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -0.05em;
    text-transform: uppercase;

    @include mobile {
      font-size: 36px;
    }
  }

  &-medium-uppercase {
    font-family: $default-font;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -0.05em;
    text-transform: uppercase;

  }

  &-descr{
    font-family: $default-font;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.05em;

    @include tabletLarge {
      font-size: 20px;
    }

  }

  &-descr-uppercase {
    font-family: $default-font;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.05em;
    text-transform: uppercase;

    @include tabletLarge {
      font-size: 20px;
    }
  }

  &-header {
    font-family: $default-font;
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: $mc1;
  }
}

.main-page-wrap {
  padding: 90px 80px 100px 80px;

}
.main-intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

}
.main-intro__title {
  color: $bc;
}
