$default-font: 'gilroy', sans-serif;
$default-font2: 'montser', sans-serif;

$mc1: #283013;
$mc2: #8cb90c;
$textGrey: #676863;
$textLight: #9a9f8c;
$wc: #fff;
$bc: #000;
$bc2: #0e0e0e;
$bTitle: #181818;
$adCol: #cecece;
$lightGrey: #e0e0e0;
$grey: #363636;
$grey2: #676863;
$greyBg: #f0f0f0;


$mc: #1a2941;
$bg: #fafafa;
$light: #fcfcfc;
$dark: #1a2941;

$xs: 767px;
$sm: 1366px;
$md: 1920px;

@mixin media($size) {
  @media (max-width: $size) {
    @content;
  }
}

@mixin mobile {
  @include media($xs) {
    @content;
  }
}

@mixin tablet {
  @include media($sm) {
    @content;
  }
}

@mixin tabletLarge {
  @include media($md) {
    @content;
  }
}





:root {
  --in: cubic-bezier(0.13, 0.81, 0.23, 0.96);
  --header-h: 80px;
  --logo-w: 160px;
  --sliceFigure: 239px;
  --sliceFigure-big: 541px;

  @include tabletLarge {
    --header-h: 70px;
    --logo-w: 120px;
    --sliceFigure-big: 362px;
  }

  @include tablet {
    --header-h: 90px;
    --logo-w: 90px;
    --sliceFigure-big: 44px;

  }

  @include mobile {
    --header-h: 60px;
    --sliceFigure: 100px;
    --sliceFigure-big: 100px;
  }
}

// @media screen and (max-width: 1920) {
//   :root {
//     --header-h: 70px;
//     --logo-w: 120px;
//     --sliceFigure-big: 362px;
//   }
// }
// @media screen and (max-width: 1366) {
//   :root {
//     --header-h: 90px;
//     --logo-w: 90px;
//     --sliceFigure-big: 44px;
//   }
// }
// @media screen and (max-width: 768) {
//   :root {
//     --header-h: 60px;
//     --sliceFigure: 100px;
//     --sliceFigure-big: 100px;
//   }
// }
