$default-font: 'Futura PT', sans-serif;
$default-font2: 'montser', sans-serif;

$mc1: #2A2C65;
$mc2: #EBEBF2;
$textGrey: #B4C4D5;
$textLightGrey: #E8E9E9;
$textGreySpecial: #939598;
$textCardGrey: #7C8692;
$wc: #fff;
$bc: #081019;
$bc2: #0e0e0e;



$mc: #1a2941;

$xs: 767px;
$sm: 1366px;
$md: 1920px;

@mixin media($size) {
  @media (max-width: $size) {
    @content;
  }
}

@mixin mobile {
  @include media($xs) {
    @content;
  }
}

@mixin tablet {
  @include media($sm) {
    @content;
  }
}

@mixin tabletLarge {
  @include media($md) {
    @content;
  }
}





:root {
  --in: cubic-bezier(0.13, 0.81, 0.23, 0.96);
  --header-h: 80px;
  --logo-w: 164px;
  --sliceFigure: 239px;
  --sliceFigure-big: 541px;

  @include tabletLarge {
    --sliceFigure-big: 362px;
  }

  @include tablet {
    --header-h: 90px;
    --logo-w: 148px;
    --sliceFigure-big: 44px;

  }

  @include mobile {
    --header-h: 66px;
    --logo-w: 105 px;
    --sliceFigure: 100px;
    --sliceFigure-big: 100px;
  }
}

// @media screen and (max-width: 1920) {
//   :root {
//     --header-h: 70px;
//     --logo-w: 120px;
//     --sliceFigure-big: 362px;
//   }
// }
// @media screen and (max-width: 1366) {
//   :root {
//     --header-h: 90px;
//     --logo-w: 90px;
//     --sliceFigure-big: 44px;
//   }
// }
// @media screen and (max-width: 768) {
//   :root {
//     --header-h: 60px;
//     --sliceFigure: 100px;
//     --sliceFigure-big: 100px;
//   }
// }
