section.single-project-slider 
    .single-project-wrap
        .single-project-slider#slider
            .single-project-slider-wrap.swiper-wrapper 
                .single-project-slider-slide.swiper-slide 
                    img(src="./assets/images/news/1.jpg" title="foto" alt="foto")
                .animation-for-slider