section.single-project 
    .single-project-wrap
        .single-project-intro
            .single-project-intro-wrap 
                .single-project-intro-text
                    h2.single-project__title.text-title Про компанію
                    span.single-project__descr.text-medium-uppercase Каdium — будуємо майбутнє
                    .single-project-intro-text-details
                        span.single-project__details-title.text-descr-uppercase ГОТОВНІСТЬ
                        span.single-project__details-descr.text-descr Введено в експлуатацію
                    .single-project-intro-text-details
                        span.single-project__details-title.text-descr-uppercase ГОТОВНІСТЬ
                        span.single-project__details-descr.text-descr Введено в експлуатацію
                .single-project-intro-nav 
                    button.single-project-intro-nav--prev#clicker-prev.btn-small 
                        +svg('arrow')
                    button.single-project-intro-nav--next#clicker-next.btn-small
                        +svg('arrow')
                a(href="#").single-project-intro-link.btn Перейти на сайт 
            .single-project-slider#slider
                .single-project-slider-wrap.swiper-wrapper 
                    .single-project-slider-slide.swiper-slide 
                        img(src="./assets/images/news/1.jpg" alt="foto")
                    .single-project-slider-slide.swiper-slide 
                        img(src="./assets/images/news/1.jpg" alt="foto")
                    .animation-for-slider
        .single-project-list 
            .single-project-item 
                .single-project-item-intro 
                    h3.single-project-item__title.text-medium-uppercase Жилой комплекс 3V Volkova расположен на одинаковом расстоянии от лесного массива «Добруджа».
                    p.single-project-item__descr.text-descr Из больших окон квартир и балконов будет открываться замечательный вид на море, горы и город. Вся территория комплекса будет украшена красивым зеленым газоном и декоративными деревьями.
                .single-project-item-img-wrap 
                        img(src="./assets/images/singleProject/1.jpg", alt="" img-paralax).single-project-item-img
            .single-project-item 
                .single-project-item-intro 
                    .single-project-item-list 
                        .single-project-item-list__card
                            +svg('arrow-kadium')
                            .single-project-item-list__card-text 
                                span.single-project-item-list__card-title.text-descr-uppercase КЛАС ЖИТЛА
                                span.single-project-item-list__card-descr.text-descr Комфорт +
                        .single-project-item-list__card
                            +svg('arrow-kadium')
                            .single-project-item-list__card-text 
                                span.single-project-item-list__card-title.text-descr-uppercase ПОВЕРХОВІСТЬ
                                span.single-project-item-list__card-descr.text-descr 16 та 15
                        .single-project-item-list__card
                            +svg('arrow-kadium')
                            .single-project-item-list__card-text 
                                span.single-project-item-list__card-title.text-descr-uppercase КІЛЬКІСТЬ БУДИНКІВ
                                span.single-project-item-list__card-descr.text-descr 2 будинки
                        .single-project-item-list__card
                            +svg('arrow-kadium')
                            .single-project-item-list__card-text 
                                span.single-project-item-list__card-title.text-descr-uppercase КІЛЬКІСТЬ КВАРТИР
                                span.single-project-item-list__card-descr.text-descr 294 квартири
                        .single-project-item-list__card
                            +svg('arrow-kadium')
                            .single-project-item-list__card-text 
                                span.single-project-item-list__card-title.text-descr-uppercase ТЕХНОЛОГІЯ
                                span.single-project-item-list__card-descr.text-descr Монолітно-каркасна
                        .single-project-item-list__card
                            +svg('arrow-kadium')
                            .single-project-item-list__card-text 
                                span.single-project-item-list__card-title.text-descr-uppercase СТІНИ
                                span.single-project-item-list__card-descr.text-descr Перекриття газоблок
                        .single-project-item-list__card
                            +svg('arrow-kadium')
                            .single-project-item-list__card-text 
                                span.single-project-item-list__card-title.text-descr-uppercase ПАРКІНГ
                                span.single-project-item-list__card-descr.text-descr 120 місць
                        .single-project-item-list__card
                            +svg('arrow-kadium')
                            .single-project-item-list__card-text 
                                span.single-project-item-list__card-title.text-descr-uppercase РОЗТЕРМІНУВАННЯ
                                span.single-project-item-list__card-descr.text-descr до 12.2025 року
                        .single-project-item-list__card
                            +svg('arrow-kadium')
                            .single-project-item-list__card-text 
                                span.single-project-item-list__card-title.text-descr-uppercase ГОТОВНІСТЬ
                                span.single-project-item-list__card-descr.text-descr ІІ квартал 2024
                        .single-project-item-list__card
                            +svg('arrow-kadium')
                            .single-project-item-list__card-text 
                                span.single-project-item-list__card-title.text-descr-uppercase КОМЕРЦІЙНІ
                                span.single-project-item-list__card-descr.text-descr 15 приміщень
                .single-project-item-img-wrap 
                        img(src="./assets/images/singleProject/2.jpg", alt="" img-paralax).single-project-item-img
        .single-project-btn-wrap 
            a(href="").single-project-btn
                span.single-project-btn__text.text-medium-uppercase Наступний проєкт
                .single-project-btn--small.btn-small 
                    +svg('arrow')