section.single-project-slider 
    .single-project-slider-wrap
        .content#content 
            .slider(data-images='["/img/img61.jpg","/img/img62.jpg","/img/img63.jpg"]' data-disp="/img/disp1.jpg")