section.single-news-page
    .main-page-wrap
        .main-intro 
            h1.main-intro__title.text-title ВСТИГНІТЬ ЗДІЙСНИТИ БАЖАННЯ ПРО ВЛАСНЕ ЖИТЛО! КУПУЙТЕ КВАРТИРУ З ПЕРШИМ ВНЕСКОМ 30%
            block breadcrumbs
                include ../breadcrumbs.pug
        .single-news-card-wrap 
            .single-news-card 
                .single-news-card-intro 
                    .single-news-card-intro-block
                        h2.single-news-card-item__title.text-descr-uppercase ЯКИМ БУДЕ КИЇВ ЧЕРЕЗ 10 РОКІВ? ЗА ВЕРСІЄЮ НАШОЇ КОМПАНІЇ, ВІН БУДЕ НАЙКОМФОРТНІШИМ МІСТОМ У СВІТІ. 
                        p.single-news-card__descr.text-descr Саме такий BHAG ми собі поставили та до якого впевнено рухаємося з кожним новим проєктом. Про те, що вже зараз ми змінюємо обличчя Києва та створюємо проєкти майбутнього, говорить і редакція НВ. У новому номері вона разом з архітекторами, забудовниками та урбаністами склала рейтинг 10 знакових об’єктів столиці та включила до нього відразу два проєкти, які ми реалізуємо спільно з партнерами забудовника1 і забудовника 2 — ми хочемо розказати вам про ці проєкти та показати їхні сильні сторони.
                    .single-news-card-intro-block
                        h2.single-news-card-item__title.text-descr-uppercase НАШ ПРОЄКТ ВІДЗНАЧИВ ЗА НАШ ПІДХІД ДО БУДІВНИЦТВА КВАРТАЛІВ, НАСИЧЕНУ ІНФРАСТРУКТУРУ ТА ГОЛОВНУ РОДЗИНКУ РАЙОНУ — НАБЕРЕЖНУ ЗАВДОВЖКИ 1 КМ.
                        p.single-news-card__descr.text-descr Вона буде відкрита для всіх охочих і стане улюбленим місцем для відпочинку та прогулянок містян і мешканців району. Вона буде відкрита для всіх охочих і стане улюбленим місцем для відпочинку та прогулянок містян і мешканців району. Вона буде відкрита для всіх охочих і стане улюбленим місцем для відпочинку та прогулянок містян і мешканців району:
                        ul.single-news-card-list
                            li.single-news-card-list__item.text-descr «Гарна набережна, яка відкриється на нашому проєкті, стане окрасою Києва», — зазначає у статті НВ головний архітектор Архіматики Дмитро Васильєв.
                            li.single-news-card-list__item.text-descr «Гарна набережна, яка відкриється на нашому проєкті
                            li.single-news-card-list__item.text-descr «Гарна набережна нашого проєкту, стане окрасою Києва», — зазначає
                    a(href='').single-news-card-btn.btn Обрати квартиру
                .single-news-card-img-wrap 
                    img(src="./assets/images/newsPage/1.jpg", alt="").single-news-card-img
        .single-news-last-updates 
            .single-news-last-updates__title.text-title Останні Акції/новини
            .news-list 
                .news-item 
                    .news-item-intro 
                        h3.news-item__title.text-descr-uppercase ВСТИГНІТЬ ЗДІЙСНИТИ БАЖАННЯ ПРО ВЛАСНЕ ЖИТЛО! КУПУЙТЕ КВАРТИРУ З ПЕРШИМ ВНЕСКОМ 30%
                        p.news-item__descr.text-descr З віком запитів стає набагато більше: вид з вікна, привітні сусіди, безпечні майданчики для дітей, супермаркети на першому поверсі, хімчистки, ресторани, пекарні, кафе в будинку, місце для машини.
                        a.news-item__btn.btn Дізнатися більше
                    .news-item-img-wrap 
                        img(src="./assets/images/newsPage/1.jpg", alt="").news-item-img
                .news-item 
                    .news-item-intro 
                        h3.news-item__title.text-descr-uppercase ВСТИГНІТЬ ЗДІЙСНИТИ БАЖАННЯ ПРО ВЛАСНЕ ЖИТЛО! КУПУЙТЕ КВАРТИРУ З ПЕРШИМ ВНЕСКОМ 30%
                        p.news-item__descr.text-descr З віком запитів стає набагато більше: вид з вікна, привітні сусіди, безпечні майданчики для дітей, супермаркети на першому поверсі, хімчистки, ресторани, пекарні, кафе в будинку, місце для машини.
                        a.news-item__btn.btn Дізнатися більше
                    .news-item-img-wrap 
                        img(src="./assets/images/newsPage/2.jpg", alt="").news-item-img
