.footer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 50;
  &-leaf {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 200px;
    opacity: 0.3;
    z-index: 3;
    height: 100%;
    @include mobile {
      max-width: 250px;
    }
  }

  &-top {
    background-color: $wc;
  }

  &-top__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 80px;
    @include tabletLarge {
      padding-top: 57px;
      padding-bottom: 57px;
    }
    @include mobile {
      flex-direction: column;
      padding-top: 40px;
      padding-bottom: 40px;
    }
    
  }

  &-number {
    font-family: $default-font;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 110%;
    color: $bTitle;
    margin-bottom: 20px;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
    @include tabletLarge {
      font-size: 50px;
    
    }
    @include mobile {
      font-size: 35px;
    }
    &:hover {
      color: $mc2;
    }
  }

  &-address {
    font-family: $default-font;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    color: $bTitle;
    margin-bottom: 20px;
    @include tabletLarge {
      font-size: 18px;
    }
    @include mobile {
      font-size: 18px;
      margin-top: 30px;
      margin-bottom: 15px;
    }
  }

  &-bottom__inner {
    background-color: #181818;
    overflow: hidden;

    & a {
      text-decoration: none;
    }
  }

  &-bottom-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    @include tabletLarge {
      padding-top: 41px;
      padding-bottom: 41px;
    }
    @include mobile {
      padding-bottom: 0;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
    }
  }

  &-social {
    display: flex;
    @include mobile {
      position: static;
      transform: none;
    }
  }

  &-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    transition: all ease-in-out 0.4s;
    &:hover {
      transform: scale(1.04);
    }
    @include tabletLarge {
      height: 40px;
      width: 40px;
    
    }
    &:first-child {
      background-color: #3b5998;
      margin-right: 20px;
      @include tabletLarge {
        margin-right: 14px;
      }
    }
    &:last-child {
      background: linear-gradient(135deg, #7151d8 0%, #e95962 100%);
    }
    svg {
      height: 30%;
      width: 30%;
      stroke: $wc;
      fill: $wc;
      transition: stroke 0.3s ease-in-out;
      // @include tabletLarge {
      //   height: 15px;
      //   width: 15px;
      // }
    }
  }

  &-links {
    display: flex;
    justify-content: space-between;
    width: 55%;
    @include tablet {
      flex-wrap: wrap;
      justify-content: center;
      width: 65%;
    
    }
    @include mobile {
      flex-direction: column;
      margin-top: 20px;
    }
    & a {
      font-family: $default-font;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 140%;
      color: $wc;
      transition: color ease-in-out 0.3s;
      @include tabletLarge {
        font-size: 15px;
        margin-right: 40px;  
      }
      @include mobile {
        margin-top: 10px;
        margin-right: 0;
      }
      &:hover {
        color: $mc2;
      }
    }
    & a:first-child {
      @include mobile {
        margin-top: 0;
      }
    }
    & a:last-child {
      @include tablet {
        margin-right: 0;
      }
    }
    & a:nth-last-child(-n+2) {
      @include tablet {
        margin-top: 15px;
      }
      @include mobile {
        margin-top: 10px;
      }
    }

  }

   &-btn {
     margin-top: 20px;
     z-index: 100;
   }

  &-up {
    position: relative;
    z-index: 1000;
    @include mobile {
      position: absolute;
      bottom: 0;
      right: 20px;
    }    
    & a {
      font-family: $default-font;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 120%;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: $wc;
      padding-right: 20px;
      transition: all ease-in-out 0.3s;
      &:hover {
        color: $mc2;
      }
    }

    & svg {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 12px;
      height: 6px;
    }
  }

  &-bottom-additional {
    display: flex;
    justify-content: space-between;
    @include mobile {
      margin-top: 40px;
    }
  }

  &-copy {
    font-family: $default-font;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #bababa;
    @include mobile {
      font-size: 12px;
    }
  }

  &-dev {
    height: 100%;
    transform: translateY(45%);
    transition: transform ease-in-out 0.5s;
    z-index: 10;
    & svg {
      width: 68px;
      height: 73px;
    }
    &:hover {
      transform: translateY(0);
    }
  }

  &-dev__link {
    display: block;
    height: 73px;
  }
}
