.footer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 50;
  &-leaf {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 200px;
    opacity: 0.3;
    z-index: 3;
    height: 100%;
    @include mobile {
      max-width: 250px;
    }
  }

  &-wrap {
    display: flex;
    background: $wc;

    @include mobile {
      flex-direction: column-reverse;
    }

  }
  &-menu-wrap {
    padding: 150px 80px 115px 80px;
    width: 35%;

    @include tablet {
      padding: 100px 10px 115px 10px;
    }

    @include mobile {
      padding: 60px 12px 115px 12px;
      width: 100%;
    }
  }
  &-menu {
    display: flex;
    flex-direction: column;

  }
  &-menu-link {
    margin-bottom: 12px;
    color: $bc;

    &:last-child {
      margin-bottom: 0;
    }

  }
  &-form-wrap {
    padding: 150px 80px 115px 80px;
    width: 65%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url('../images/about/noise.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    @include tablet {
      padding: 100px 10px 115px 10px;
    }

    @include mobile {
      padding: 60px 12px;
      width: 100%;
    }
  }

  &-form {
    width: 70%;
    z-index: 3;

    @include tablet {
      width: 100%;
    }
  }
  &-form__title {
    width: 50%;
    color: $bc;
    margin-bottom: 20px;

  }
  &-form__descr {
    width: 50%;
    color: $textGreySpecial;
    margin-bottom: 40px;

    @include mobile {
      width: 100%;
    }

  }
  &-form__form {

  }

  &-form__hint {
    color: $bc;
    margin-bottom: 8px;
  }

  &-form__field {
    margin-bottom: 40px;
    margin-top: 0!important;
    height: 70px!important;
  }

  &-form__input {
    border: none;
    outline: none;
    background: $wc;
    padding: 0;
    font-family: $default-font;
    padding: 10px 40px;
    margin-bottom: 40px;
    width: 100%;
    font-size: 24px;
    font-weight: 300;
    color: $bc;
    line-height: 120%;
    letter-spacing: -0.05em;
    text-transform: none;
    margin-top: 0!important;
    height: 70px;
  }
  
  &-form__btn-wrap {
    display: flex;
    align-items: center;
  }

  &-form__btn {
    margin-right: 20px;
    position: relative;
    svg {
      transform: rotate(180deg);
    }
  }

  &-form__btn-text {
    position: absolute;
    left: 70px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 120%;
    text-align: right;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: $bc;

  }
  &-up {
    position: absolute;
    top: 150px;
    right: 80px;
    z-index: 3;

    @include tablet {
      top: 100px;
      right: 10px;
    }

    @include mobile {
        top: 60px;
        right: 12px;
    }
    svg {
      transform: rotate(90deg);
    }

  }

}

.noise::before{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  content: "";
  /* you can control opacity of noise  */
  opacity: 0.05;  
  z-index: 1;
  pointer-events: none;
  background: url('../images/noise.gif') ;
}