.header {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--header-h);
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  z-index: 100;

  &-inner {
    max-width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between; 
  }

  &__left {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    @include mobile {
      width: 100%;
    }
    
  }

  &__link {
    display: block;
    margin: 0;
    padding: 0;
    height: 50px;
    width: fit-content;
    @include tabletLarge {
      height: 38px;
    }
    @include tablet {
      height: 50px;
    }
    @include mobile {
      height: 31px;
    }
  }

  &-logo__svg {
    height: 50px;
    width: 134px;
    margin-right: 158px;
    @include tabletLarge {
      height: 38px;
      width: 103px;
    }
    @include tablet {
      margin-right: 80px;
      height: 50px;
    }
    @include mobile {
      height: 31px;
      width: 82px;
      margin-right: 27px;
    }
  }

  &-mobile {
    display: none;
    @include mobile {
      display: flex;
      justify-content: flex-end;
      margin-right: 10px;
      width: 100%;
    }
  }

  &__right {
    display: flex;
    justify-content: space-between;
    @include mobile {
      display: none;
    }
  }

  &-apartment__link {
    text-decoration: none;
    border-bottom: 1px solid $mc2;
    font-family: $default-font;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $wc;
    margin-right: 40px;
    transition: color ease-in-out 0.3s;

    @include tablet {
      align-self: center;
    }
    @include mobile {
      font-size: 12px;
      margin-right: 10px;
    }
    &:hover {
      color: $mc2;
    }
  }

  &__cam {
    margin-left: 40px;
    width: 23px;
    height: 18px;
    @include tablet {
      margin-left: 0;
      width: 50px;
      height: 50px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center
    }
    @include mobile {
      width: 45px;
      height: 45px;
    }
    @media screen and (max-width: 365px) {
      width: 40px;
      height: 40px;
    }
    transition: all ease-in-out 0.3s;
      &:hover svg{
        fill: $mc2;
        @include tablet {
          fill: $wc;
        }
      }
      &:hover {
        @include tablet {
          border: 1px solid $mc2;
        }
      }
  }
  &__call {
    @include tablet {
      margin-right: 30px;       
      width: 50px;
      height: 50px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all ease-in-out 0.3s;
    }
    
    @include mobile {
      margin-right: 10px;
      width: 45px;
      height: 45px;
    }

    @media screen and (max-width: 365px) {
      width: 40px;
      height: 40px;
    }

    &:hover {
      @include tablet {
        border: 1px solid $mc2;
      }
    }
  }
}

.cam__svg {
  width: 23px;
  height: 18px;
  vertical-align: middle;
  fill: $wc;
  transition: all ease-in-out 0.3s;
  @include mobile {
    width: 16px;
    height: 13px;
  }
}

.call__svg {
  width: 23px;
  height: 18px;
  vertical-align: middle;
  @include mobile {
    width: 16px;
    height: 13px;
  }
}

.call {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid $wc;
  border-right: 1px solid $wc;
  padding-left: 40px;
  padding-right: 40px;

  @include tablet {
    display: none;
  }
  

  &__phone{
    position: relative;
    text-decoration: none;
    font-family: $default-font;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $wc;
    transition: all ease-in-out 0.4s;
    &::after {
      position: absolute;
      bottom: -2px;
      right: 0;
      content: '';
      width: 0;
      height: 1px;
      background-color: $mc2;
      opacity: 0;
      transition: all ease-in-out 0.4s;
    }
    &:hover {
      color: $mc2;   
      
      &::after {
        width: 76px;
        opacity: 1;
      }
    }
    &.hide {
      display: none;
    }
  }
  &__num {
    position: relative;
    padding-right: 10px;
    margin-right: -10px;
    width: 160px;
  }

  &__phone-hidden {
    display: none;
    text-decoration: none;
    font-family: $default-font;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $wc;
    transition: all ease-in-out 0.3s;
  }

  &__phone-hidden.on {
    display: block;
  }

  &-tablet {
    display: none;
    @include tablet {
      display: block;
    }
  }

}

.request {
  flex-shrink: 0;
  padding: 0 0 0 45px;
    @include to(1440px) {
      padding: 0 0 0 25px;
    }
    @include to(992px) {
      padding: 0 0 0 32px;
    }
  &__link {
    text-decoration: none;
    font-family: $default-font;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $wc;
    transition: color ease-in-out 0.3s;
    @include tabletLarge {
      font-size: 14px;
    }
    @include to(992px) {
      font-size: 15px;
    }
    &:hover {
      color: $mc2;
    }
}

.icon--cam.cam__svg{
    width: 23px;
    height: 18px;
  }
}

#toggle-menu {
  display: block;
  position: relative;
  text-decoration: none;
  width: 100%;
  height: fit-content;
  @include mobile {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: $wc;
  }

  @media screen and (max-width: 365px) {
      width: 40px;
      height: 40px;
  }
  &:hover .toggle-menu__title {
    color: $mc2;
  }
  &:hover span {
    background-color: $mc2;
    // @include tablet {
    //   background-color: $bc2;
    // }
  }
  &:hover span::after {
    background-color: $mc2;
    // @include tablet {
    //   background-color: $bc2;
    // }
  }
  &:hover span::before {
    background-color: $mc2;
    // @include tablet {
    //   background-color: $bc2;
    // }
  }
  
}

.toggle-menu__title,
.toggle-menu__title--hidden {
  font-family: $default-font;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $wc;
  margin-left: 42px;
  transition: all ease-in-out 0.3s;
  @include mobile {
    display: none;
  }

}
.toggle-menu__title--hidden {
  display: none;
}


#toggle-menu span:after,
#toggle-menu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
  @include mobile {
    top: -3px;
  }
  
}
#toggle-menu span:after{
  top: 9px;
  @include mobile {
    top: 3px;
  }
}


#toggle-menu span,
#toggle-menu span:after,
#toggle-menu span:before {
  width: 22px;
  height: 3px;
  background-color: $wc;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
  @include mobile {
    height: 1px;
    width: 8.8px;
    background-color: $bc2;
  }
}

#toggle-menu span {
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  @include mobile {
    background-color: $bc2;
    left: 50%;
    transform: translateX(-50%);
  }
}


/* on activation */
#toggle-menu.on .toggle-menu__title {
  display: none;
}

#toggle-menu.on .toggle-menu__title--hidden {
  display: block;
  @include mobile {
    display: none;
  }
}


.header.on {
  background-color: $bTitle;
  transition: all .5s;
}

#toggle-menu.on:hover {
  & span::after {
    background-color: $mc2;
    @include tablet {
      background-color: $bc2;
    }
  }
  & span::before {
    background-color: $mc2;
    @include tablet {
      background-color: $bc2;
    }

  }
  & .toggle-menu__title--hidden {
    color: $mc2;
    @include tablet {
      background-color: $bc2;
    }
  }
}

#toggle-menu.on span {
  background-color: transparent;
}
#toggle-menu.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
  transition: all ease-in-out 0.3s;
  @include mobile {
    transform: rotate(45deg) translate(2px, 2px);
  }
  &:hover {
    background-color: $mc2;
    @include tablet {
      background-color: $bc2;
    }
  }
  
}
#toggle-menu.on span:after {
  transform: rotate(-45deg) translate(7.5px, -8px);
  transition: all ease-in-out 0.3s;
  @include mobile {
    transform: rotate(-45deg) translate(2px, -2px);
  }
  &:hover {
    background-color: $mc2;
  }
}
#toggle-menu.on + #menu {
  opacity: 1;
  visibility: visible;
}

/* menu appearance*/
#menu {
  position: absolute;
  width: 100%;
  height: 214px;
  background-color: $bTitle;
  display: flex;
  justify-content: space-between;
  top: 80px;
  left: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s;
  @include tabletLarge {
    top: 70px;
  }
  @include tablet {
    height: 330px;
    top: 90px;
  }
  @include mobile {
    height: 511px;
    top: 60px;
  }
} 
.menu-item, 
.menu-link {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $wc;
  transition: all ease-in-out 0.3s;
}
.menu-link:hover,
.menu-link:focus {
  color: $mc2;
}
.menu-item:last-child {
  visibility: hidden;
  pointer-events: none;
}

.menu {

  &-decoration {
    position: absolute;
    bottom: 0;
    right: 15%;
    @include tablet {
      right: 50%;
      width: 380px;
      transform: translateX(50%);
    }
    @include mobile {
      right: 50%;
      width: 252px;
      transform: translateX(50%);
    }
  }

  &__left {
    display: flex;
    justify-content: space-between;
    width: 60%;

  }

  &__left--social {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: center;
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: center;
  }

  &-line {
    margin-top: 20px;
    width: 1px;
    height: 50px;
    background: rgba(255, 255, 255, 0.3);
    @include tablet {
      height: 40px;
      margin-top: 15px;
    }
  }

  &-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 274px;
    width: 100%;
    z-index: 10;
    @include tablet {
      justify-content: flex-start;
      position: absolute;
      margin-top: 50px;
      padding: 0;
      height: 100px;

    }
    @include mobile {  
      height: 190px;  
    }
  }

  &-link {
    padding: 6px 0px;
    padding-right: 100px;
    text-decoration: none;
    transition: all .2s;
    @include mobile {
      padding: 0;
      margin-bottom: 20px;
      padding-right: 20px;
    }
  }

  &-langs {
    display: flex;
    flex-direction: column;
    align-self: center;
    @include mobile {
      padding-right: 0;
    }

    & a {
      text-decoration: none;
      font-family: $default-font;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 120%;
      text-transform: uppercase;
      color: $wc;
      padding: 15px 6px;
      border: 1px solid transparent;
      border-radius: 50px;
      @include tabletLarge {
        padding: 12px 6px;
        font-size: 10px;
      }
      @include tablet {
        font-size: 12px;
        padding: 15px 6px;
      }
      @include mobile {
        font-size: 10px;
        padding: 12px 6px;
      }
      &.active {
        border: 1px solid $wc;
      }
    }

    
  }

}


